<div class="container p-5" id="gral">
  <p class="p text-black font-weight-bold">¿Estás cansado de que te den consejos sobre la toma de decisiones? ¿Crees que hay partes de ti que quizá ignoras o no conoces? Lee el horóscopo y descubre qué te depararán los astros tanto personal como laboralmente a diario.</p>
  <p class="p text-black font-weight-bold">Los signos del zodíaco, según el momento de nacimiento, permiten predecir el futuro de una persona a partir de la interpretación de la posición relativa de los planetas del sistema solar.</p>
  <div class="row justify-content-center ">
    <form class="col-10 pt-5 mb-3" id="frmHoroscopo">
      <div class="form-group row justify-content-center">
        <label for="signo" class="txt col-2 text-white font-weight-bold">Signo</label>
        <select name="sign" id="sign" class="form-control col-5" #signo>
          <option value="aries">Aries</option>
          <option value="taurus">Tauro</option>
          <option value="gemini">Geminis</option>
          <option value="cancer">Cancer</option>
          <option value="leo">Leo</option>
          <option value="virgo">Virgo</option>
          <option value="libra">Libra</option>
          <option value="pisces">Piscis</option>
          <option value="capricorn">Capricornio</option>
          <option value="scorpio">Escorpio</option>
          <option value="aquarius">Acuario</option>
          <option value="sagittarius">Sagitario</option>
        </select>
      </div>
      <div class="form-group row justify-content-center">
        <label for="fecha" class="txt col-2 text-white font-weight-bold">Fecha: </label>
        <input type="date" name="date" id="date" min="2020-01-01" max="2020-06-08" class="col-5" [(ngModel)]="fecha">
      </div>
      <div class="form-group row justify-content-end">
      <button type="button" class="txt btn btn-light col-4 mt-5 mr-4" (click)="mostarHoroscopo(signo,fecha)">Leer Horoscopo</button>
      </div>
    </form>
  </div>
    
    <div class="row">
      <div class="col-12">
        <div class="card">
            <div class="card-header titulo-horoscopo font-weight-bold">
              {{a.sign.name}}
            </div>
            <div class="card-body txt-body-card">
                <div class="media">
                    <div class="media-body">
                      <p>{{a.result.description}}</p>
                    </div>

                    <div *ngIf="signo.value == 'aries' ">
                      <img src="../../../assets/imagenes/aries.jpg" id="img-horoscopo" alt="">
                    </div>
                    <div *ngIf="signo.value == 'taurus' ">
                      <img src="../../../assets/imagenes/tauro.jpg" id="img-horoscopo" alt="">
                    </div>
                    <div *ngIf="signo.value == 'gemini' ">
                      <img src="../../../assets/imagenes/geminis.jpg" id="img-horoscopo" alt="">
                    </div>
                    <div *ngIf="signo.value == 'cancer' ">
                      <img src="../../../assets/imagenes/cancer.jpg" id="img-horoscopo" alt="">
                    </div>
                    <div *ngIf="signo.value == 'leo' ">
                      <img src="../../../assets/imagenes/leo.jpg" id="img-horoscopo" alt="">
                    </div>
                    <div *ngIf="signo.value == 'virgo' ">
                      <img src="../../../assets/imagenes/virgo.jpg" id="img-horoscopo" alt="">
                    </div>
                    <div *ngIf="signo.value == 'libra' ">
                      <img src="../../../assets/imagenes/libra.jpg" id="img-horoscopo" alt="">
                    </div>
                    <div *ngIf="signo.value == 'pisces' ">
                      <img src="../../../assets/imagenes/piscis.jpg" id="img-horoscopo" alt="">
                    </div>
                    <div *ngIf="signo.value == 'capricorn' ">
                      <img src="../../../assets/imagenes/capricornio.jpg" id="img-horoscopo" alt="">
                    </div>
                    <div *ngIf="signo.value == 'scorpio' ">
                      <img src="../../../assets/imagenes/escorpio.jpg" id="img-horoscopo" alt="">
                    </div>
                    <div *ngIf="signo.value == 'aquarius' ">
                      <img src="../../../assets/imagenes/acuario.jpg" id="img-horoscopo" alt="">
                    </div>
                    <div *ngIf="signo.value == 'sagittarius' ">
                      <img src="../../../assets/imagenes/sagitario.jpg" id="img-horoscopo" alt="">
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    
</div>


